@import 'vendor/bootstrap/bootstrap';

@include media-breakpoint-down(sm) {
	.header-title img{
		max-width: 200px;
	}
}

@include media-breakpoint-down(md) { 
	.left {
		text-align: left!important;
		margin-bottom: 1rem;

	}

	.number {
		font-size: 3rem!important;
	}

	#counter {
		font-size: 6rem!important;
	}

	.header-text{
		margin-left: 0px!important;
		text-align: center;
		margin-top: 2rem;
	}

	.header-text{
		p {
			font-size: 1.8rem!important;

		}
		p + p {
			margin-top: 0.8rem!important;
			font-size: 1rem!important;
			line-height: 1.5rem;
		}
	}

	.header-title img{
		display: block;
		position: relative;
		width: 80%;
		max-width: 250px;
		margin: 0px auto;
	}

	.right, .footer {
		p {
			font-size: 1.5rem!important;

		}	
		p + p {
			font-size: 1rem!important;
			line-height: 1.5rem;
		}
	}

	.subtitle{
		font-size: 0.8rem!important;
		padding: 1rem 0.9375rem!important;
	}

}

.statistics {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: white;
	opacity: 0.8;
	span {
		margin-right: 10px;
	}
}

img.logo{
	max-width: 50%;
}

.header{
	background: red;
	background-image: url("/assets/img/count.png");
	background-size: cover;
	background-blend-mode: multiply;
	background-position: bottom;
}

.subtitle {
	background: white;
	width: 100%;
	letter-spacing: 1px;
	font-size: 1.5rem;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 20px;
	span {
		opacity: 0.5px;
		transition: .6s;
	}
	border-bottom: solid white 5px;
}


.header-text{
	margin-left: 40px;
	color: white;
	p {
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 0px;
		line-height: 2rem;

	}
	p + p {
		margin-top: 1rem;
		font-size: 1.4rem;
	}
}


body {
	background: red;
}

article, section {
	background: white;
}
body {
	font-family: 'jubilat', serif;
}

.left {
	text-align: right;
}

.right, .footer {
	text-align: left;
	p {
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 0px;
		line-height: 2rem;

	}
	p + p {
		margin-top: 1rem;
		font-size: 1.4rem;
	}
}


.number {
	font-size: 2rem;
	line-height: 2rem;

	color: red;
}

.party {
	font-size: 2rem;
	transition: .4s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

#counter {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	pointer-events: none;
	font-size: 15em;
	color: black;
	z-index: 5;
	opacity: 0.05;
	transition: .6s;
}

.hidden {
	opacity: 0!important;
}


.red {
	background: red;
}

.footer {
	text-align: center;
}